---
layout: default
---

<div class="home">

  <h1 class="page-heading">Search for specific symbols in Vala software.</h1>

  <!-- Html Elements for Search -->
  <div id="search-container">
    <input type="text" id="search-input" placeholder="search...">
    <ul id="results-container"></ul>
  </div>

  <!-- Script pointing to search-script.js -->
  <script src="/vala-symbol-search/search-script.js" type="text/javascript"></script>

  <!-- Configuration -->
  <script>
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '/vala-symbol-search/search.json',
      searchResultTemplate: '<div><a href="{url}">{title}</a></div>'
    })
  </script>

  <!-- ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul -->

</div>
